# Books Goodreader

In [2]:
import pandas as pd
import numpy as np

In [3]:
! head -n 2 books-goodreader.csv

bookID,title,authors,average_rating,isbn,isbn13,language_code,# num_pages,ratings_count,text_reviews_count
1,Harry Potter and the Half-Blood Prince (Harry Potter  #6),J.K. Rowling-Mary GrandPré,4.56,0439785960,9780439785969,eng,652,1944099,26249

In [7]:
! wc -l books-goodreader.csv #Tiene 13720 filas
! awk -F, '{print NF; exit}' books-goodreader.csv #Para saber el número de columnas

   13720 books-goodreader.csv
  107146 books-goodreader.csv
10

In [15]:
df = pd.read_csv("books-goodreader.csv", sep=',', error_bad_lines=False)

b'Skipping line 4012: expected 10 fields, saw 11\nSkipping line 5688: expected 10 fields, saw 11\nSkipping line 7056: expected 10 fields, saw 11\nSkipping line 10601: expected 10 fields, saw 11\nSkipping line 10668: expected 10 fields, saw 11\n'

In [39]:
print(df.shape)
df.describe().round(decimals=0)

(13714, 10)

,bookID,average_rating,isbn13,# num_pages,ratings_count,text_reviews_count
count,13714.0,13714.0,1.371400e+04,13714.0,13714.0,13714.0
mean,22160.0,4.0,9.764017e+12,342.0,17765.0,534.0
std,13701.0,0.0,3.987679e+11,253.0,112957.0,2529.0
min,1.0,0.0,8.987060e+09,0.0,0.0,0.0
25%,10619.0,4.0,9.780345e+12,196.0,83.0,7.0
50%,21322.0,4.0,9.780613e+12,301.0,630.0,40.0
75%,33312.0,4.0,9.780940e+12,421.0,4742.0,222.0
max,47709.0,5.0,9.790008e+12,6576.0,5629932.0,93619.0

In [41]:
df.sample(3)

,bookID,title,authors,average_rating,isbn,isbn13,language_code,# num_pages,ratings_count,text_reviews_count
8950,28729,The Dragon Quintet,Marvin Kaye-Michael Swanwick-Orson Scott Card-...,3.76,0765349116,9780765349118,en-US,304,562,39
9827,31692,The Complete Novels of Jane Austen,Jane Austen,4.55,1840220554,9781840220551,eng,1431,924,28
9955,32130,Monday Night Class,Stephen Gaskin,3.90,1570671818,9781570671814,en-US,191,57,3

In [34]:
np.mean(df['ratings_count'])

17765.397258276214

In [38]:
df[df['language_code'] == 'spa'].count()

bookID                419
title                 419
authors               419
average_rating        419
isbn                  419
isbn13                419
language_code         419
# num_pages           419
ratings_count         419
text_reviews_count    419
dtype: int64

In [ ]:
df[df['language_code'] == 'spa'].count()